insert trigger code

trigger code

In [ ]:
CREATE OR REPLACE TRIGGER insertTrigerOntableUserLog
AFTER INSERT ON myUser
FOR EACH ROW
    BEGIN
        INSERT INTO myUserLog VALUES(:NEW.name,:NEW.email,:NEW.phone);
    END;

all code

In [ ]:
CREATE TABLE myUser
( 
    name VARCHAR(33) NOT NULL,
    email VARCHAR(33) NOT NULL,
    phone  VARCHAR(33) NOT NULL                
);

CREATE TABLE myUserLog
( 
    name VARCHAR(33) NOT NULL,
    email VARCHAR(33) NOT NULL,
    phone  VARCHAR(33) NOT NULL                
);

CREATE OR REPLACE TRIGGER insertTrigerOntableUserLog
AFTER INSERT ON myUser
FOR EACH ROW
    BEGIN
        INSERT INTO myUserLog VALUES(:NEW.name,:NEW.email,:NEW.phone);
    END;
    
    
    INSERT INTO myUser VALUES('Aziz','aziz@gmail.com','09764387563');
    INSERT INTO myUser VALUES('Faiz','faiz@gmail.com','07764387563');
    INSERT INTO myUser VALUES('Mostafa','mostata@gmail.com','07064387563');
    INSERT INTO myUser VALUES('Rashid','rashid@gmail.com','09764387563');

    
    
select * from myUser;
select * from myuserlog;

delete on suer trigger

trigger code

In [ ]:
CREATE OR REPLACE TRIGGER onDeletTiregerLog
AFTER DELETE ON myUser
FOR EACH ROW
    BEGIN
        INSERT INTO myUserLog(email,logDate) VALUES(:OLD.email,SYSDATE);
    END;

all code

In [ ]:
CREATE TABLE myUser
( 
    name VARCHAR(33) NOT NULL,
    email VARCHAR(33) NOT NULL,
    phone  VARCHAR(33) NOT NULL                
);

CREATE TABLE myUserLog
( 
    name VARCHAR(33) NULL,
    email VARCHAR(33) NULL,
    phone  VARCHAR(33) NULL,  
    logDate   DATE NULL
);


insert into myUser values('Aziz','aziz@gmail.com','0785748475');
insert into myUser values('Faiz','faiz@gmail.com','078577345');
insert into myUser values('Fawad','fawad@gmail.com','0785745375');
insert into myUser values('Mansoor','mansoor@gmail.com','07887683265');


CREATE OR REPLACE TRIGGER onDeletTiregerLog
AFTER DELETE ON myUser
FOR EACH ROW
    BEGIN
        INSERT INTO myUserLog(email,logDate) VALUES(:OLD.email,SYSDATE);
    END;


DELETE FROM myUser WHERE NAME = 'Aziz';
DELETE FROM myUser WHERE NAME = 'Faiz';
DELETE FROM myUser WHERE NAME = 'Mansoor';


select * from myUserLog;

update on user tigger

update tigger code

In [ ]:
CREATE OR REPLACE TRIGGER onUpdateTiregerLog
AFTER UPDATE ON myUser
FOR EACH ROW
    BEGIN
        INSERT INTO myUserLog(name,email,phone,logDate) VALUES(:OLD.name,:OLD.email,:OLD.phone,SYSDATE);
        INSERT INTO myUserLog(name,email,phone,logDate) VALUES(:NEW.name,:NEW.email,:NEW.phone,SYSDATE);
    END;

all code

In [ ]:
CREATE TABLE myUser
( 
    name VARCHAR(33) NOT NULL,
    email VARCHAR(33) NOT NULL,
    phone  VARCHAR(33) NOT NULL                
);

CREATE TABLE myUserLog
( 
    name VARCHAR(33) NULL,
    email VARCHAR(33) NULL,
    phone  VARCHAR(33) NULL,  
    logDate   DATE NULL
);


insert into myUser values('Aziz','aziz@gmail.com','0785748475');
insert into myUser values('Faiz','faiz@gmail.com','078577345');
insert into myUser values('Fawad','fawad@gmail.com','0785745375');
insert into myUser values('Mansoor','mansoor@gmail.com','07887683265');


CREATE OR REPLACE TRIGGER onDeletTiregerLog
AFTER DELETE ON myUser
FOR EACH ROW
    BEGIN
        INSERT INTO myUserLog(email,logDate) VALUES(:OLD.email,SYSDATE);
    END;


DELETE FROM myUser WHERE NAME = 'Aziz';
DELETE FROM myUser WHERE NAME = 'Faiz';
DELETE FROM myUser WHERE NAME = 'Mansoor';

CREATE OR REPLACE TRIGGER onUpdateTiregerLog
AFTER UPDATE ON myUser
FOR EACH ROW
    BEGIN
        INSERT INTO myUserLog(name,email,phone,logDate) VALUES(:OLD.name,:OLD.email,:OLD.phone,SYSDATE);
        INSERT INTO myUserLog(name,email,phone,logDate) VALUES(:NEW.name,:NEW.email,:NEW.phone,SYSDATE);
    END;

select * from myUser;

UPDATE myUser set name = 'Khan',email = 'khan@gmail.com',phone = '097375775' WHERE name = 'Fawad';

select * from myUserLog;