In [ ]:
Step1: Create table

CREATE TABLE employee
    (  
       id INT PRIMARY KEY,
       name VARCHAR(22) NOT NULL,
       fName VARCHAR(22) NOT NULL
       
    );

Step2: Insert data into employee table

In [ ]:
INSERT INTO  employee(id,name,fName) values(1,'ramesh','rahimi');
INSERT INTO  employee(id,name,fName) values(2,'Farshid','frahi');
INSERT INTO  employee(id,name,fName) values(3,'Jamshid','jafari');

Step3: Create Procidure

In [ ]:
CREATE OR REPLACE PROCEDURE GetEmpName
IS
  employee SYS_REFCURSOR;  
BEGIN

  OPEN employee FOR 
  SELECT *
  from  employee;
  DBMS_SQL.RETURN_RESULT(employee);

END GetEmpName;
/

Step4: Run GetEmpName to showing result

In [ ]:
EXEC GetEmpName;

Result.....

PL/SQL procedure successfully completed.

ResultSet #1


        ID NAME                   FNAME                 
---------- ---------------------- ----------------------
         1 ramesh                 rahimi                
         2 Farshid                frahi                 
         3 Jamshid                jafari