Step1: Create std and stdLog tables.

In [ ]:
CREATE TABLE std(name VARCHAR(22) NOT NULL, dob DATE NULL);
CREATE TABLE stdLog(name VARCHAR(22) NOT NULL, dob DATE NULL);

Step2: Insert data into tables

In [ ]:
INSERT INTO std(name) VALUES('jawad');
INSERT INTO std(name) VALUES('Navid');
INSERT INTO std(name) VALUES('Ahmad');
INSERT INTO std(name) VALUES('Rafa');

Step3: Create Sequnce

In [ ]:
CREATE SEQUENCE stdLog_seq;

Step4: create Trigger

In [ ]:
CREATE SEQUENCE stdLog_seq;
CREATE OR REPLACE TRIGGER stdtLog_trg
BEFORE INSERT ON std
FOR EACH ROW 
BEGIN
    INSERT INTO stdLog(name,dob) VALUES(:NEW.name,sysdate);
END;
/

Result....

In [ ]:
jawad	07-FEB-23
Navid	07-FEB-23
Ahmad	07-FEB-23
Rafa	07-FEB-23